http://localhost:2080 {
	handle_path /links/* {
		@secure_paths {
			path /
			path /bookmarks/*
			path /share/
		}

		handle @secure_paths {
#			forward_auth ... {
#					uri /auth_check
#					copy_headers X-Authenticated-User X-Authenticated-Group
#			}

			reverse_proxy localhost:4000 {
				header_up X-Authenticated-User "caddy-user"
				header_up X-Authenticated-Group "caddy-group"
			}
		}

		handle {
			reverse_proxy localhost:4000
		}
	}

	handle {
		respond "Forbidden" 403 {
			close
		}
	}
}
